<app-menu></app-menu>

<section class="container-fluid">
    <div class="row align-items-center row1">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row justify-content-center align-items-center row1">
                <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="circle">
                                <div class="img-circle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="wrap-name-perfil">
                                <p class="name-perfil">Ema Arregui</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-start">
                            <div class="wrap-payment">
                                <p class="payment">PAYMENT CHECKOUT</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-start">
                            <div class="wrap-button">
                                <button class="button">Suscripción mensual</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
            <p class="text-1">Agregar Método de Pago</p>
        </div>
    </div>

    <div class="row justify-content-center row2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
            <p class="text-2">Proceder con el método de pago para acceder al contenido</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
            <app-perfil-img-and-name></app-perfil-img-and-name>
        </div>
    </div>

    <div class="row justify-content-center row3">
        <div class="d-flex justify-content-center col-12 img-hidden">
            <div class="icon-wrap">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
            <app-perfil-img-and-name></app-perfil-img-and-name>
        </div>
    </div>

    <div class="row justify-content-center row3">
        <div class="d-flex justify-content-center col-12 img-hidden">
            <div class="icon-wrap">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>
        
</section>
