<app-menu></app-menu>
<app-perfil-header></app-perfil-header>
<app-perfil-paquetes-suscrip></app-perfil-paquetes-suscrip>

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-11 col-xxl-6">
            <app-perfil-img-and-name></app-perfil-img-and-name>
        </div>
    </div>

    <div class="row justify-content-center row2">
        <div class="d-flex justify-content-center col-12 img-hidden">
            <div class="icon-wrap">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>
</section>
