<app-menu></app-menu>

<section class="container-fluid">
    <div class="row align-items-center row1">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 col-xxl-5">
            <div class="row justify-content-center">
                <div class="col-8 wrap-title">
                    <h1 class="title">Atrévete a CRECER</h1>
                    <h1 class="title">como WebCam</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 wrap-subtitle">
                    <h2 class="subtitle">y genera ingresos en</h2>
                    <h2 class="subtitle">tus tiempos libes</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <button class="button">Información</button>
                </div>
            </div>
        </div>
    </div>
</section>