<app-menu></app-menu>

<section class="container-fluid">
    <div class="row justify-content-around row-2">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="d-flex justify-content-start img-muestra-wrap">
                <a href="#"><img src="/assets/img/categorias-1.png" class="img-fluid img1" alt="Mujeres"></a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
            <div class="d-flex justify-content-center img-muestra-wrap">
                <a href="#"><img src="/assets/img/categorias-2.png" class="img-fluid img1" alt="Hombres"></a>
            </div>        
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
            <div class="d-flex justify-content-end img-muestra-wrap">
                <a href="#"><img src="/assets/img/categorias-3.png" class="img-fluid img1"  alt="Trans"></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-none d-md-block col-md-12 col-lg-12 col-xl-12 col-xxl-12 break-point"></div>
    </div>

    <div class="row justify-content-center row2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="d-flex align-items-center justify-content-center cont-img4">
                <a title="Trans" href="#" class="link"><img src="/assets/img/categorias-4.png"class="img-fluid" alt="Trans"></a>
            </div>
        </div>
    </div>
</section>
