<app-menu></app-menu>

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/assets/img/categorias-2-large.png"class="img-fluid img1" alt="Mujeres">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h2 class="title">Perfiles recomendados en la categorí­a.</h2>
        </div>
    </div>
    <div class="row row3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Jota
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @alvaro
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Manuel
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @marcelo
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>
    </div>

    <div class="row row3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @David
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Dario
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @esteban
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @jorge
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>
    </div>

    <div class="row row3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Paolo
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Alessandro
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Stefano
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Daniel
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>
    </div>
</section>
