<app-menu></app-menu>

<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 d-flex justify-content-center">
            <div class="column1">
                <h2 class="title1">Ventajas como</h2>
                <h3 class="title2">Tiempo</h3>
                <p class="text1">
                    Meestyk te da la posibilidad de trabajar cuando quieras y desde la tranquilidad de tu hogar.
                </p>
            </div>    
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="row">
                <div class=" column2">
                    <div class="row1">
                        <div class="text-center">
                            <img src="/assets/img/info-watch.png" alt="...">
                        </div>
                        <h2 class="title3">Horarios Flexibles</h2>
                        <p class="text2-a">
                            Tú controlas tu tiempo, eres libre de conectarte y publicar o hacer lives cuando tú quieras.
                        </p>
                    </div>
                    <div class="row2">
                        <div class="text-center">
                            <img src="/assets/img/info-watch.png" alt="...">
                        </div>
                        <h2 class="title3">Pagos puntuales</h2>
                        <p class="text2-b">
                            El pago se hace directamente si un usuario paga la suscripción a tu canal, además recibes porcentajes por cada referido que haga parte de la comunidad Meestyk.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-md-1 col-lg-1 col-xl-1 col-xxl-1">
            <div class="line">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="column3">
                <div class="row1">
                    <div class="text-center">
                        <img src="/assets/img/info-gear.png" alt="...">
                    </div>
                    <h2 class="title3">Soporte Técnico</h2>
                    <p class="text3">
                        Chatbot 24 horas activo para responder cualquier inquietud que tengas sobre la plataforma.
                    </p>
                </div>
                <div class="row2">
                    <div class="text-center">
                        <img src="/assets/img/info-heart.png" alt="...">
                    </div>
                    <h2 class="title3">Protegemos tu seguridad</h2>
                    <p class="text4">
                        Nadie podrá ver tu contenido mas privado sin que haya pagado la suscripción.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-2">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="title-wrap">
                <h2 class="title4">Un estilo de vida, que promete</h2>
            </div>
        </div>
    </div>
    <div class="row row-3">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <div class="column4">
                <div class="column4-wrap">
                    <div class="num-img">
                        <p class="num">50</p>
                        <img src="/assets/img/info-globe.png" class="float-end" alt="...">
                    </div>
                    <div class="row text-wrap">
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                            <p class="text5">Países</p>
                        </div>
                        <div class="d-none d-md-block col-md-1 col-lg-1 col-xl-1 col-xxl-1">
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <div class="column4">
                <div class="column4-wrap">
                    <div class="num-img">
                        <p class="num">700</p>
                        <img src="/assets/img/info-live.png" class="float-end" alt="...">
                    </div>
                    <div class="text-wrap">
                        <p class="text5">Transmisiones</p>
                    </div>               
                 </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <div class="column4">
                <div class="column4-wrap">
                    <div class="num-img">
                        <p class="num">500</p>
                        <img src="/assets/img/info-user.png" class="float-end" alt="...">
                    </div>
                    <div class="text-wrap">
                        <p class="text5">Usuarios Activos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <div class="column4">
                <div class="column4-wrap">
                    <div class="num-img">
                        <p class="num">600</p>
                        <img src="/assets/img/info-watch-2.png" class="float-end" alt="...">
                    </div>
                    <div class="text-wrap">
                        <p class="text5-b">Horas en vivo</p>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</section>

