<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-11 col-xxl-6 opc1">
            <div class="wrap">
                <div class="icon-wrap">
                    <i class="fas fa-user"></i>
                </div>
                <button class="button1">Pagar suscripción por 50 € /mes</button>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-11 col-xxl-6 opc2">
            <div class="wrap">
                <div class="icon-wrap">
                    <i class="fas fa-tags"></i>
                </div>                
                <button class="button2">PAQUETES DE SUSCRIPCIÓN</button>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-11 col-xxl-6 opc3">
            <div class="wrap">
                <div class="icon-wrap">
                    <i class="fas fa-fire-alt"></i>
                </div>
                <button class="button3">Obtener 3 meses por 125 €</button>
            </div>
        </div>
    </div>
</section>
