<app-menu></app-menu>

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/assets/img/categorias-4.png"class="img-fluid img1" alt="Parejas">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h2 class="title">Perfiles recomendados en la categorí­a.</h2>
        </div>
    </div>
    <div class="row row3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Annayjuan
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @LinayMarce
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @JuanyDaniel
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @SalomeyEva
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>
    </div>

    <div class="row row3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Ivan&jose
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @SarayMiguel
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Elisa_Joan
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Camilo&Maria
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>
    </div>

    <div class="row row3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Sam_moni
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Jordi-pau
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @JuanyJose
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 d-flex align-items-center justify-content-center">
            <div class="perfil-container">
                <div class="perfil-img">      
                </div>

                <div class="perfil-info">
                    <p class="perfil-texto">
                        @Vero_ari
                    </p>
                    <button class="button">Ver perfil</button>
                </div>
            </div>           
        </div>
    </div>
</section>
