<div class="row justify-content-start">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-112 col-xxl-12">
        <div class="row justify-content-center row-a">
            <div class="d-flex justify-content-start col-12">
                <div class="circle">
                    <div class="img-circle"></div>
                </div>
                <div class="name-perfil">
                    <p class="name">Ema Arregui</p>
                    <p class="name-id">@Ema_arregui</p>
                </div>     
            </div>
        </div>
    </div>
</div>
