<app-menu></app-menu>

<section class="container-fluid">
    <div class="row justify-content-center row1">
        <div class="d-none d-md-block col-md-3 col-lg-3 col-xl-3 col-xxl-4">

        </div> 
        
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 img-center">
            <div class="wrap">
                <div class="circle">
                    <div class="img-circle"></div>
                </div>
                <div class="name-perfil">
                    <p class="name">Ema Arregui</p>
                    <p class="name-id">@Ema_arregui</p>
                </div> 
                
                <h1 class="title">BENEFICIOS DE SUSCRIPCIÓN</h1>
                <div class="text-box">
                    <i class="fas fa-cheek"></i><P class="text">Full Acceso al contenido del usuario</P>
                    <i class="fas fa-cheek"></i><P class="text">Enviar mensajes directos al usuario</P>
                    <i class="fas fa-cheek"></i><P class="text">Cancelar tu suscripción cuando quieras</P>
                </div>
                <div class="wrap-button">
                    <button class="button">Agregar método de pago</button>
                </div>
            </div>        
        </div>

        <div class="d-none d-md-block col-md-3 col-lg-3 col-xl-3 col-xxl-4 align-self-end">
            
        </div>      
    </div>
</section>
