<section class="container-fluid">
    <div class="row row1">
        <div class="col-3 col-sm-3 col-md-43 col-lg-5 col-xl-5 col-xxl-5">

        </div> 
        
        <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 col-xxl-2 img-center">
            <div class="circle">
                <div class="img-circle"></div>
            </div>
            <div class="name-perfil">
                <p class="name">Ema Arregui</p>
                <p class="name-id">@Ema_arregui</p>
            </div>         
        </div>

        <div class="col-3 col-sm-3 col-md-3 col-lg-5 col-xl-5 col-xxl-5 align-self-end">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <p class="text-banner">218 posts</p>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <p class="text-banner">200 fotos</p>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <p class="text-banner">20 videos</p>
                </div>
            </div>
        </div> 
    </div>

    <div class="row justify-content-end">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 d-flex justify-content-center">
            <i class="fas fa-map-marker-alt">Roma, Italia</i>
        </div>
    </div>
    <div class="row justify-content-around row-2">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="d-flex justify-content-start img-muestra-wrap">
                <img src="/assets/img/categorias-1.png" class="img-muestra">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
            <div class="d-flex justify-content-center img-muestra-wrap">
                <img src="/assets/img/categorias-1.png" class="img-muestra">
            </div>        
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
            <div class="d-flex justify-content-end img-muestra-wrap">
                <img src="/assets/img/categorias-1.png" class="img-muestra">
            </div>
        </div>
    </div>
</section>
