<app-menu></app-menu>

<section class="container-fluid">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 col-xxl-1 column">
                <div class="d-flex align-items-center wrap">
                    <p class="texto">Iniciar sesión</p>
                    
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Iniciar Sesión con Twitter">
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Iniciar Sesión con Google">
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
